cast-media-player {
    --theme-hue: 275;
    --progress-color: #744c91;
    --splash-image: url(https://brian-weloba.github.io/MCTV-cast-receiver/res/MyMoviesAfrica-logo.png);
    --splash-size: 500px;
    --watermark-image: url(https://brian-weloba.github.io/MCTV-cast-receiver/res/MyMoviesAfrica-logo.png);
    --watermark-size: 57px 57px;
}