cast-media-player {
    --theme-hue: 275;
    --progress-color: #744c91;
    --splash-image: url(/res/MyMoviesAfrica-logo.png);
    --splash-size: 500px;
    --watermark-image: url(/res/MyMoviesAfrica-logo.png);
    --watermark-size: 57px 57px;
}